.app {
    display: flex;
    margin: auto;
    color: gray;
    justify-content: flex-start;
}

#col-map {
    flex-grow: 1;
    height: 50em;
}

#col-text {
}

#google-map {
    height: 100%;
}

#section-search {

}

#section-places {

}

#section-map {

}

.info-window {
    max-height: 300px;
    max-width: 400px;
}

.info-window-icon {
    width: 25px;
    height: 25px;
}

.info-window-photo {
    width: 250px;
}

.twitter-user-icon {
    height: 25px;
}

.center {
    text-align: center;
}