.app {
    display: flex;
    margin: auto;
    color: gray;
    justify-content: flex-start;
}

#col-map {
    flex-grow: 1;
    height: 50em;
}

#col-text {
}

#google-map {
    height: 100%;
}

#section-search {

}

#section-places {

}

#section-map {

}