<div class="card info-window info-window-card border-0">
    <img class="card-image-top d-none d-md-block" src="<%= photo %>" alt="Place photo">
    <div class="card-body">
        <h4 class="card-title">
            <%= name %>
        </h4>
        <p class="card-text">
            Great for: <%= description %>
        </p>

        <!-- YELP section -->
        <p class="card-text">
            <span>
            <a href="<%= yelp.url %>" target="blank">
                <img src="http://valleygoldmine.com/template/VGM/images/icon-yelp.png" alt="Yelp Icon" class="info-window-icon">
            </a>
        </span>
        Rating: <span class="text-primary"><%= yelp.rating %></span> (<span class="text-primary"><%= yelp.review_count %></span> reviews)
        </p>

        <!-- Foursquare section -->
        <p class="card-text">
            <span>
            <a href="<%= foursquare.url %>" target="blank">
                <img src="http://icons.iconarchive.com/icons/tinylab/android-lollipop-apps/128/Foursquare-icon.png" alt="Foursquare Icon" class="info-window-icon">
            </a>
            </span>
            <% if (foursquare.stats) { %>
              <span class="text-primary"><%= foursquare.stats.checkinsCount %></span> checkins,
              <span class="text-primary"><%= foursquare.stats.usersCount %></span> users,
              <span class="text-primary"><%= foursquare.stats.tipCount %></span> tips
            <% } %>
        </p>
    </div>

    <!-- Twitter section -->
    <% if (tweets.length) { %>
        <section class="d-none d-md-block">
                <p class="card-text">
                    <h5 class="text-center">
                        What people said on <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt="Twitter Icon" class="info-window-icon">:
                    </h5>
                </p>

                <% tweets.forEach(function (tweet) { %>
                    <div class="unrendered-tweet" tweet-id="<%= tweet %>"></div>
                <% }); %>
        </section>
    <% } %>

</div>