<section id="googlemap-section">
    <h2><%= name %></h2>
    <address><%= address %></address>
    <div>
        <img src="<%= photo %>" alt="Photo">
    </div>
</section>

<hr>

<section id="yelp-section">
    <a href="<%= yelp.url %>">Yelp rating:</a> <%= yelp.rating %> (<%= yelp.review_count %> reviews)
</section>

<hr>

<section id="foursquare-section">
    <div class="foursquare-stats">
        Foursquare checkins (<%= foursquare.stats.checkinsCount %>), users (<%= foursquare.stats.usersCount %>), tips (<%= foursquare.stats.tipCount %>)
    </div>
</section>

<hr>

<section id="twitter-section">
    <% tweets.forEach(function (tweet) { %>
        <div class="tweet">
            <a href="<%= tweet.user.url %>">
                <img src="<%= tweet.user.profile_image_url %>" alt="twitter-user" class="twitter-user-icon">
            </a>
            <%= tweet.user.name %>: <%= tweet.text %></p>
        </div>
    <% }); %>
</section>